<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<!-- Define the Oracle Repository spring bean -->
	<!-- ProductRepository productRepository = new OracleRepository(); -->
	<context:property-placeholder
	location="classpath:product-service.properties"/>
	<bean id="productRepository"
		class="com.live.repository.OracleRepository" scope="prototype" />

	<!--  <bean id="productService"
		class="com.live.service.ProductServiceImpl">
		<constructor-arg index="0" ref="productRepository" />
	</bean>-->
	<!-- Setter based injection -->
	<bean id="productService"
		class="com.live.service.ProductServiceImpl">
		<property name="productRepository"  ref="productRepository" />
	    <property name="location" value="mumbai"/>
		<property name="domainName" value="${domain.name}"></property>
	</bean>
</beans>